1.Write a Python program to sum all the items in a list.

In [ ]:
list=[2,6,7,9,11,12]
add=sum(list)
print("sum of all the items in the list=",add)

sum of all the items in the list= 47

2.Write a Python program to get the largest number from a list.

In [ ]:
list=[12,3,25,67,9,10,14]
list.sort()
print("largest number from the list is", list[-1])

largest number from the list is 67

3.Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

Sample List : ['abc', 'xyz', 'aba', '1221']

Expected Result : 2

In [ ]:
words=['abc','xyz','aba','1221']
count=0
for i in words:
  if len(i)>1 and i[0]==i[-1]:
    count+=1
print(count)

2

4.Write a Python program to remove duplicates from a list.

In [ ]:
def Remove(duplicate):
    result=[]
    for num in duplicate:
        if num not in result:
            result.append(num)
    return result
duplicate = [3, 14, 50, 78, 3, 14, 20, 4]
print(Remove(duplicate))

[3, 14, 50, 78, 20, 4]

5.Write a Python program to check if a list is empty or not.

In [ ]:
list1 = []
if list1!=[]:
    print("The list is not empty")
else:
    print("Empty List")

Empty List

In [ ]:
list1 = [1,45,6,7]
if list1!=[]:
    print("The list is not empty")
else:
    print("Empty List")

The list is not empty

6.Write a Python program to filter the list if the length of the character is < 4

In [ ]:
list1=['cat','dog','lion','tiger']
result=[]
for i in list1:
  if len(i)<4:
    result.append(i)
print(result)

['cat', 'dog']

7.Write a Python program to find the second largest number in a list.

In [ ]:
list1 = [10, 20, 4, 45, 99,100,56]

list1.sort()

print("Second largest element is:", sorted(list1)[-2])

Second largest element is: 99

8. Write a Python program to reverse a list at a specific location.

In [ ]:
loc=2
l=[9,12,16,14,4,7]
l1=l[:2]
l2=l[2:]
l2.reverse()
result=l1+l2
print(result)

[9, 12, 7, 4, 14, 16]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
test_list = [1, 4, 5, 4, 1]
print("The original list is : " + str(test_list))
reverse = test_list[::-1]

res = test_list == reverse

print("Is list Palindrome : " + str(res))

The original list is : [1, 4, 5, 4, 1]
Is list Palindrome : True

10.Write a Python a program to find the union and intersection of two lists.

In [ ]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3
def Union(lst1, lst2):
    final_list = lst1 + lst2
    return final_list

# Driver Code
lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]
print(intersection(lst1, lst2))
print(Union(lst1, lst2))

[9, 11, 26, 28]
[4, 9, 1, 17, 11, 26, 28, 54, 69, 9, 9, 74, 21, 45, 11, 63, 28, 26]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1), reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

12.Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
def checkKey(dic, key):

    if key in dic:
        print("exist")
        print("value =", dic[key])
    else:
        print("Not exist")

dic = {'a': 100, 'b':200, 'c':300}
key = 'b'
checkKey(dic, key)

exist
value = 200

13.Write a Python program to sum all the values in a dictionary.

In [ ]:
def returnSum(myDict):
    list = []
    for i in myDict:
        list.append(myDict[i])
    final = sum(list)

    return final

dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

In [ ]:
n=int(input("Enter a number:"))
if(n<10):
 d={x:x*x for x in range(1,n+1)}
 print(d)
else:
 print("Limit exceeded")

Enter a number:6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

15.Write a Python program to sort a given dictionary by key.

In [ ]:
my_dict = {"Nitha": 15,"bimal":12,"bindu":8,"murali":23,"anu":25}
sorted_dic={}
sorted_key=sorted(my_dict.keys())
for i in sorted_key:
    sorted_dic[i]=my_dict[i]

print(sorted_dic)

{'Nitha': 15, 'anu': 25, 'bimal': 12, 'bindu': 8, 'murali': 23}

16.Write a Python program to create a dictionary from a string.

In [ ]:
string="python program"
dic = {}
for letter in string:
  dic[letter] = dic.get(letter, 0) + 1
print(dic)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 1, ' ': 1, 'r': 2, 'g': 1, 'a': 1, 'm': 1}

17.Write a Python program to get the top three items in a shop.

Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:

item4 55

item1 45.5

item3 41.3